st.font: DejaVu Sans Mono for Powerline-9.6;
!st.font: Inconsolata for Powerline-11.3;
st.fontalt0: Hack Nerd Font-11;
st.borderpx: 0
st.background: #000000
st.foreground: white
st.alpha: 0.88
!st.termname: st-256color
